doctype html
html
    head
        title Yve YANG Gallery
        meta charset="utf-8"
        meta name="viewport" content="width=device-width, initial-scale=1.0"
        link rel="icon" type="image/png" href="<!-- @path favicon.ico -->"
        <!-- @stylesheet normalize -->
        <!-- @stylesheet fonts -->
        <!-- @stylesheet style -->
        script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"
    
    body
        a href="http://www.yveyang.com"
            img class="logo" src="<!-- @path yve-yang-logo.svg -->"

        <!-- @include _artistsMenu -->
        
        div class="mobileMenuWrap"
            div class="mobileMenu" 
                a id="mobileMenuButton" MENU
            div class="mobileMenuClose none" 
                a id="mobileMenuClose" Close
            <!-- @include _mobileMenu -->
            <!-- @include _mobileMenuExhibition -->
            <!-- @include _mobileMenuArtist -->
            <!-- @include _mobileMenuNews -->
    
    javascript:
        $(document).ready(function(){
        // MENU
            $('#mobileMenuButton').click(function() {
                $('.mobileMenuWrap').addClass('fullHeight');
                $('.mobileMenuFour').show();
                $('.gridWrap').hide();
                $('.mobileMenuClose').removeClass('none');
                    // Hide All other Menus
                $('.mobileMenuNews').hide();
                $('.mobileMenuArt').hide();
                $('.mobileMenuEx').hide();
                });

            $('#mobEx').click(function() {
                $('.mobileMenuFour').hide();
                $('.mobileMenuEx').show();
                });
            $('#mobNews').click(function() {
                $('.mobileMenuFour').hide();
                $('.mobileMenuNews').show();
                });
            $('#mobArt').click(function() {
                $('.mobileMenuFour').hide();
                $('.mobileMenuArt').show();
                });    

            $('#mobileMenuClose').click(function() {
                $('.mobileMenuWrap').removeClass('fullHeight');
                $('.gridWrap').show();
                $('.mobileMenuClose').addClass('none');
                $('.mobileMenuFour').hide();
                $('.mobileMenuNews').hide();
                $('.mobileMenuArt').hide();
                $('.mobileMenuEx').hide();
                });
        });
        $(document).ready(function () {
            var num_li = $("#artList li").size();
            var x=0;
            var INCREMENT = 20;
            var $groups = $('#artList li');
            getNextN($groups, x, INCREMENT).show();
            $("#loadMore").click(function() {
                var $hiddenGroup = getNextN($groups, x, INCREMENT);
                    x+=INCREMENT;
                    var $groupToShow = getNextN($groups, x, INCREMENT);
              $hiddenGroup.hide();
              $groupToShow.show();
                    $("#showLess").show();
              if (x+INCREMENT >= num_li) $(this).hide();
            });
            $("#showLess").click(function() {
                var $hiddenGroup = getNextN($groups, x, INCREMENT);
                    x-=INCREMENT;
                    var $groupToShow = getNextN($groups, x, INCREMENT);
              $hiddenGroup.hide();
                $groupToShow.show();
              if (x == 0) $(this).hide(); 
              $("#loadMore").show();
            });
        });


        function getNextN($el, x, n) {
          return $el.slice(x,x+n);
        }    