doctype html
html
    head
        title Yve YANG Gallery
        meta charset="utf-8"
        meta name="viewport" content="width=device-width, initial-scale=1.0"
        link rel="icon" type="image/png" href="<!-- @path favicon.ico -->"
        <!-- @stylesheet normalize -->
        <!-- @stylesheet fonts -->
        <!-- @stylesheet style -->
        script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"
        <!-- @javascript stickyfill.js -->
    
    body
        a href="http://www.yveyang.com"
            img class="logo" src="<!-- @path yve-yang-logo.svg -->"
        <!-- @include _newsHeader -->
        div class="gridWrap news"
            div class="row leftWrapper"
                div class="col-10"
                    div class="col-5 text float" 
                        h1 ==markdown(news.title)
                        ==markdown(news.content)
                    - for image in news.images
                        div class="col-4-half float sticky newsImage"   
                            - if image.video?
                                div class="videoWrap" ==markdown(image.link)
                                p ==markdown(image.title)
                            - else
                                img src="#{image.image}"   
                                ==markdown(image.title)
                    - if news.images.length >= 2                        
                        div class="col-7-half" id="resize" 
        <!-- @include _newsMenu -->
        
        div class="mobileMenuWrap"
            div class="mobileMenu" 
                a id="mobileMenuButton" MENU
            div class="mobileMenuClose none" 
                a id="mobileMenuClose" Close
            <!-- @include _mobileMenu -->
            <!-- @include _mobileMenuExhibition -->
            <!-- @include _mobileMenuArtist -->
            <!-- @include _mobileMenuNews -->
            
    javascript: 
        // Add "this" to last of work
        $(window).bind("load", function(){
            $('.newsImage').last().addClass('this');
            
            $('#resize').height(($(window).height() - $('.this').height()));
            $(window).resize(function () {
                    $('#resize').height(($(window).height() - $('.this').height()));
            });
            
            $('.sticky').Stickyfill();
        });
        $(document).ready(function(){
        // MENU
            $('#mobileMenuButton').click(function() {
                $('.mobileMenuWrap').addClass('fullHeight');
                $('.mobileMenuFour').show();
                $('.gridWrap').hide();
                $('.mobileMenuClose').removeClass('none');
                    // Hide All SubMenus
                $('.mobileMenuNews').hide();
                $('.mobileMenuArt').hide();
                $('.mobileMenuEx').hide();
                });

            $('#mobEx').click(function() {
                $('.mobileMenuEx').toggle();
                $('.mobileMenuNews').hide();
                $('.mobileMenuArt').hide();
                });
            $('#mobNews').click(function() {
                $('.mobileMenuNews').toggle();
                $('.mobileMenuEx').hide();
                $('.mobileMenuArt').hide();
                });
            $('#mobArt').click(function() {
                $('.mobileMenuArt').toggle();
                $('.mobileMenuNews').hide();
                $('.mobileMenuEx').hide();
                });    

            $('#mobileMenuClose').click(function() {
                $('.mobileMenuWrap').removeClass('fullHeight');
                $('.gridWrap').show();
                $('.mobileMenuClose').addClass('none');
                $('.mobileMenuFour').hide();
                $('.mobileMenuNews').hide();
                $('.mobileMenuArt').hide();
                $('.mobileMenuEx').hide();
                });    
        });
        $(document).ready(function () {
            var num_li = $("#newsData a").size();
            var x=0;
            var INCREMENT = 22;
            var $groups = $('#newsData a');
            getNextN($groups, x, INCREMENT).show().css("display", "table");
            $("#loadMore").click(function() {
                var $hiddenGroup = getNextN($groups, x, INCREMENT);
                    x+=INCREMENT;
                    var $groupToShow = getNextN($groups, x, INCREMENT);
              $hiddenGroup.hide();
              $groupToShow.show().css("display", "table");
                    $("#showLess").show();
              if (x+INCREMENT >= num_li) $(this).hide();
            });
            $("#showLess").click(function() {
                var $hiddenGroup = getNextN($groups, x, INCREMENT);
                    x-=INCREMENT;
                    var $groupToShow = getNextN($groups, x, INCREMENT);
              $hiddenGroup.hide();
                $groupToShow.show().css("display", "table");
              if (x == 0) $(this).hide(); 
              $("#loadMore").show();
            });
        });


        function getNextN($el, x, n) {
          return $el.slice(x,x+n);
        }