/* 
    FAKT
    -------------------------------------- */
@font-face {
    font-family: 'Fakt';
    src: url('Fakt-Normal.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Fakt';
    src: url('Fakt-NormalItalic.otf') format('opentype');
    font-weight: normal;
    font-style: italic;
}