/*   
    Website     YveYANG
    Version     0.9
    Design      Pianpian He & Max Harvey
    Code        Matt Wolff   
    -------------------------------------- */

@import url(fonts/fonts.css);

html {
    -webkit-text-size-adjust: 100%;
}

html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    
}

body {
    color:#000;
	font-family: "Fakt",sans-serif;	
	font-size: 15px;
	letter-spacing:.01em;
	background: white;
    -webkit-font-smoothing: antialiased;
}

/* 
    Resets
    -------------------------------------- */

::-moz-selection {
	color:rgba(0,0,0,.5);
	text-shadow:none;
    background: transparent;
}

::selection {
	color:rgba(0,0,0,.5);
	text-shadow:none;
    background: transparent;
}

hr {
    height: 2px;
    margin: 0 0 0;
    border: white;
}

span {
    cursor: default;
}

a {
    text-decoration: none;
    cursor: pointer;
}

a:hover {
    color: rgba(0,0,0,.5);
}

img {
	margin:0;
/*	vertical-align:bottom;*/
}

ul {
	margin:0;
	padding:0;
}

li {
	list-style:none;
}

* {
	box-sizing: border-box;
	-moz-box-sizing: border-box;
/*    background-color: rgba(0,0,0,.05);*/
}

iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/* 
    Header
    -------------------------------------- */

.header {
    position: fixed;
    line-height: 1;
    padding: 24px 24px 20px;
    width: calc(100%);
    z-index: 1001;
    background-color: white;
}

a.headGrey:visited{
    color: black;
}

a.headGrey span {
    cursor: pointer;
}

/* 
    Menu
    -------------------------------------- */

.menu {
    line-height: 1.2;
    position: fixed;
    left: 24px;
    top: 0px;
    padding: 24px 0;
    width: calc((100% - 48px) / 5);
    height: calc(100%);
    overflow-y: auto;
    z-index: 1002;
}

.menu::-webkit-scrollbar {
    display:none;
}

.homeNav {
    line-height: 1;
    display: flex;
    display: -webkit-flex;
    flex-direction: column;
    -webkit-flex-direction: column;
    justify-content: space-between;
    -webkit-justify-content: space-between;
    margin: 0;
    list-style: none;
    height: 100%;
}

.homeNav .bottom, .homeNav .exCol {
    margin-bottom: -3px;
}

.aboutNav, .newsNav {
    margin-top: -1px;
}

.aboutNav .bottom {
    position: absolute;
    line-height: 1;
    bottom: 24px;
    margin-bottom: -3px;
    padding-bottom: 0;
}

.artistsNav .top, .artistsNav .base, .exhibNav .top, .exhibNav .base, aboutNav .top, .aboutNav .base {
    position: absolute;
    width: 100%;
}

.artistsNav .top, .exhibNav .top, .aboutNav .top {
    top: 23px;
}

.artistsNav .base, .exhibNav .base, .aboutNav .base{
    bottom: 24px;
    margin-bottom: -3px;
}

.lastOf {
    line-height: 1;
}

/* 
    Clearfix
    -------------------------------------- */

:after, :before    {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box
}
.row {
  box-sizing: border-box;
}

.clearfix, .row:after {
    clear: both;
}

.clearfix:before, .clearfix:after, .row:before, .row:after {
    display: table;
    content:" ";
}

/* 
    Grid
    -------------------------------------- */

.col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10 {
    position: relative;
    min-height: 1px;
    float: left;
}

.col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .offset-1, .offset-2, .offset-3, .offset-4, .offset-5, .offset-6, .offset-7, .offset-8, .offset-9 {
  box-sizing: border-box;
}

.col-1 {
  width: 10%;
}
.col-2 {
  width: 20%;
}
.col-2-half{
    width: 25%;
}
.col-3 {
  width: 30%;
}
.col-3-half{
    width: 35%;
}
.col-4 {
  width: 40%;
}
.col-4-half{
    width: 45%;
}
.col-5 {
  width: 50%;
}
.col-6 {
  width: 60%;
}
.col-7 {
  width: 70%;
}
.col-7-half {
    width: 75%;
}
.col-8 {
  width: 80%;
}
.col-8-next{
    width: 87.5%;
}
.col-9 {
  width: 90%;
}
.col-10 {
  width: 100%;
}

/* 
    Grid-Offset
    -------------------------------------- */

.offset-1 {
    margin-left: 10%;
}
.offset-1-half {
    margin-left: 15%;
}
.offset-2 {
    margin-left: 20%;
}
.offset-3 {
    margin-left: 30%;
}
.offset-4 {
    margin-left: 40%;
}
.offset-5 {
    margin-left: 50%;
}
.offset-6 {
    margin-left: 60%;
}
.offset-7 {
    margin-left: 70%;
}
.offset-8 {
    margin-left: 80%;
}
.offset-9 {
    margin-left: 90%;
}

/* 
    Grid Wrapper Page
    -------------------------------------- */

.frontPage{
    padding: 24px 0;
    height: 100%;
}

.home {
    height: 100%;
}

.home .row {
    height: 100%;
}

.row.leftWrapper {
    position: relative;
    left: 20%;
    width: 80%;
}

.gridWrap {
    width: 100%;
    box-sizing: border-box;
    padding: 39px 24px 24px;
}

.gridWrap.about, .gridWrap.news, .gridWrap.exhibition, .gridWrap.artists {
    padding: 59px 24px 24px;
}

.float {
    float: left;
}

.floatR {
    float: right;
}

.videoWrap{
    position: relative;
	padding-bottom: 56.25%;  
    /*   16:9 Aspect Ratio   */
	height: 0;
}

/* 
    Typography
    -------------------------------------- */

h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
    margin: 0;
    font-size: 15px;
}

a {
    color: black;
    text-decoration: none;
}

.logo {
    position: fixed; 
    bottom: 24px;
    right: 24px;
    width: 90px;
    height: auto;
    margin, padding: 0;
    z-index: 999999999;
}

.logo img {
    vertical-align: bottom;
}

.text {
    padding-right: 24px;
}

p   {
    margin-bottom: 1.2em;
    margin-top: 0;
    font-weight: normal;
    -webkit-hyphens: none;
    -moz-hyphens: none;
    -ms-hyphens: none;
    hyphens: none;
}

.title {
    font-style: italic;
}

.date {
    text-align: right;
}

.fifty {
    color: rgba(0,0,0,.5);
}

.year, .artists {
    padding-top: 1.2em;
}

.year h1 {
    padding-left: 1.4em;
    cursor: default;
}

.pad {
    padding-right: 1.4em;
}

.show ul, .secondInfo{
    padding-bottom: 1.2em;
}

.secondInfo {
    max-width: 160px;
}

.current .show ul, .upcoming .show ul{
    padding-bottom: 0;
}

a.show {
    display: table;
    cursor: pointer;
}

a.show span {
    cursor: pointer;
}

.show ul li {
    max-width: 200px;   
}

.show ul li:last-child {
    font-style: italic;
}

/* 
    Exhibition
    -------------------------------------- */

.exhibition img {
    padding-bottom: 1.8em;
}

.poster img {
    padding-bottom: 1.8em;
}

.capt p {
    display: block;
    background: white;
    margin-bottom: 0;
    padding-bottom: 1.2em;
}

.listing {
    display:none;
}
#loadMore {
    color:black;
    cursor:pointer;
}
#showLess {
    color:black;
    cursor:pointer;
    display:none;
}

.artistsNav .previous {
    padding-bottom: 0;
    padding-top: 1.2em;
}

.previous {
    padding-bottom: 1.2em;
}

.artistsNav .more {
    padding-top: 0;
    padding-bottom: 0;
}
.exhibNav .previous {
    padding-top: 1.2em;
    padding-bottom: 0;
}
.exhibNav .more {
    padding-top: 0;
}

a.black:hover {
    color: black;
    cursor: default;
}

/* 
    Artists
    -------------------------------------- */

.work {
    display: block;
    padding-bottom: 1.2em;
}

.work p {
    background: white;
    padding-top: .6em;
    padding-bottom: 0;
    margin-bottom: 0;
}

#artList li {
    display: none;
}


/* 
    About
    -------------------------------------- */

.about .text ul {
    margin-bottom: 1.2em;
}

/* 
    News
    -------------------------------------- */

.imageCol p {
    margin-top: 1.2em;
}

.text h1 {
    font-style: italic;
    margin-bottom: 1.2em;
}

.newsPage {
    position: static;
}

.newsPage p {
    margin-bottom: 0;
    padding-bottom: 0;
}

.newsPage .sticky {
    top: 59px;
}

.dot::after {
        content: "";
    }


a.current.newsShow{
    display: block;
    cursor:pointer;
}

.newsShow span {
    cursor: pointer;
}

#newsData a{
    display: none;
}

.newsNav .more {
    padding-top: 1.2em;
}

.newsNav .previous {
    padding-top: 1.2em;
    padding-bottom: 0;
}

.newsImage {
    padding-bottom: 1.2em;
}

/* 
    Image
    -------------------------------------- */

.home img {
    max-width: 100%;
    max-height: 100%;
}

img {
    max-width: 100%;
    height: auto;
    max-height: calc(100vh - 8.9em);
}

.sticky {
    position: -webkit-sticky;
    position: sticky;
    top: 59px;
}

.sticky:before,
.sticky:after {
    content: '';
    display: table;
}

#resize {
    display: block;
    height: 100vh;
    float: left;
}

/*  
    Newsletter   
    ______________________________________ */

.newsletter {
    position: fixed;
    bottom: 24px;
    z-index: 1002;
    margin-bottom: -3px;
}


input, pre {
    font: inherit;
    margin: 0;
    background: none;
    outline: none;
    border: none;
    padding: 0;
    text-align: left;
}

.mc-input {
    font-size: 12px;
}

.mc-input-submit {
    cursor: pointer;
}

.newsletterErrorSuccess {
    font-size: 12px;
    position: absolute;
    bottom: 30px;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: rgba(0,0,0,.6);
}
::-moz-placeholder { /* Firefox 19+ */
    color: rgba(0,0,0,.6);
}
:-ms-input-placeholder { /* IE 10+ */
    color: rgba(0,0,0,.6);
}
:-moz-placeholder { /* Firefox 18- */
    color: rgba(0,0,0,.6);
}

/*  
    Mobile Menu  
    ______________________________________ */

.mobileMenuWrap {
    position: absolute;
    padding: 24px 24px 1.2em;
    top: 0;
    left: 0;
    width: 100%;
    display: none;
    z-index: 1004;
    line-height: 1.2;
    background: white;
    
}

/*
.fullHeight {
    height: 100%;
}
*/

.mobileMenu {
    text-align: left;
    left: 24px;
    padding: 24px 0 .6em;
    position: fixed;
    top: 0px;
    width: 100%;
    line-height: 1.2;
    background: white;
    z-index: 1005;
}
.mobileMenuClose {
    position: fixed;
    line-height: 1;
    right: 24px;
    text-align: right;
    z-index: 1007;
}

.mobileMenuFour {
    width: 100%;
    height: 100%;
    background-color: white;
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    line-height: 1.2;
    padding: 23px 24px 24px;
    z-index: 1006;
}

.mobileMenuEx, .mobileMenuArt, .mobileMenuNews{
    width: 100%;
    min-height: 100%;
    left: 24px;
    display: none;
    z-index: 1003;
}

.mobileMenuArt, .mobileMenuEx, .mobileMenuNews {
    position: relative;
    left: 0;
}

.mobileMenuNews a{
    display: block;
}

.mobileMenuArt {
    padding-bottom: 1.2em;
}

.none {display:none;}

.artistsMobileFix {
    display: none;
}


/*  
    Media Queries   
    ______________________________________ */

@media (min-width : 300px) and (max-width : 800px) {
    html {
        -webkit-text-size-adjust: none;
     }
    
    img { vertical-align: top;}
    
    .newsletter {
        display: none;
    }
    .menu {
        display: none;
    }
    .col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-2-half, .col-3-half, .col-4-half, .col-7-half, .col-8-next {
        width: 100%;
    }
    .offset-1,  .offset-1-half, .offset-2, .offset-3, .offset-4, .offset-5, .offset-6, .offset-7, .offset-8, .offset-9 {
        margin-left: 0;
    }
    .newsLine .col-3, .newsLine .col-2 {
        width: auto;
    }
    .mobileMenu, .mobileMenuClose, .mobileMenuWrap {
        display: inline-block;
    }
    .mobileMenuFour {
        display: none;
    }
    
    .mobileMenu a, .mobileMenuClose a {
        cursor: pointer;
    }
    .header {
        position: relative;
        line-height: 1.2;
        padding: 60px 24px 20px;
        width: calc(100%);
        z-index: 1001;
        background-color: white;
    }
    .date {
        text-align: left;
    }
    .gridWrap.home {
        width: 100%;
        box-sizing: border-box;
        padding: 0 24px 24px;
    }
    .frontPage {
        padding: 0;
    }
    .gridWrap.about, .gridWrap.news, .gridWrap.exhibition, .gridWrap.artists {
        padding: 0 24px 24px;
    }
    
    .gridWrap.about {
        padding-top: 60px;
    }
    
    .row.leftWrapper {
        left: 0;
        width: 100%;
    }
    
    .sticky {
        position: -webkit-sticky;
        position: sticky;
        top: 60px;
    }

    .sticky:before,
    .sticky:after {
        content: '';
        display: table;
    }
    
    .floatR {
        float: left;
    }
    .listing {
        display:block;
    }
    .dot::after {
        content: ".";
    }
    .none {display: none;}
    
    .artistsMobileFix {
        display: block;
}
    
}

@media (max-height : 640px) {
    
   .artistsNav .top, .artistsNav .base, .exhibNav .top, .exhibNav .base, aboutNav .top, .aboutNav .base {
        position: relative;
        top: 0;
        float: left;
    } 
    .artistsNav .base, .exhibNav .base, {
        bottom: 0;
        padding-top: 1.2em;
        float: left;
    }
    .artistsNav .base {
        padding-top: 1.2em;
    }
    
}